{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".css",
        ".jpg",
        ".png",
        ".js"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "README.md",
          "README.html",
          "_app",
          ".gitignore",
          "*.db"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/lebedev.mastervision.su/kabbalistic-tarot",
      "timeout": 10000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "ctimeMs": 1576329509903.4392,
          "date": "2020-05-12T07:39:10.496Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "ctimeMs": 1576329509905.4392,
          "date": "2020-05-12T07:39:10.978Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1589367537903.6484,
          "ctimeMs": 1589367537903.6484,
          "date": "2020-05-13T11:17:49.515Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1589887324316.359,
          "ctimeMs": 1589887324316.359,
          "date": "2020-05-20T10:46:50.815Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1589274759450.4407,
          "ctimeMs": 1589274759450.4407,
          "date": "2020-05-12T09:13:54.238Z"
        },
        {
          "file": "fonts/TTNorms.eot",
          "mtimeMs": 1589195742000,
          "ctimeMs": 1589213980043.2834,
          "date": "2020-05-12T07:39:12.831Z"
        },
        {
          "file": "fonts/TTNorms.svg",
          "mtimeMs": 1589195742000,
          "ctimeMs": 1589213980037.2776,
          "date": "2020-05-12T07:39:13.602Z"
        },
        {
          "file": "fonts/TTNorms.ttf",
          "mtimeMs": 1589195742000,
          "ctimeMs": 1589213980029.2722,
          "date": "2020-05-12T07:39:14.219Z"
        },
        {
          "file": "fonts/TTNorms.woff",
          "mtimeMs": 1589195742000,
          "ctimeMs": 1589213980040.281,
          "date": "2020-05-12T07:39:14.794Z"
        },
        {
          "file": "fonts/TTNorms.woff2",
          "mtimeMs": 1589195742000,
          "ctimeMs": 1589213980046.2842,
          "date": "2020-05-12T07:39:15.349Z"
        },
        {
          "file": "fonts/TTNormsBlack.eot",
          "mtimeMs": 1589195770000,
          "ctimeMs": 1589213991772.7354,
          "date": "2020-05-12T07:39:16.052Z"
        },
        {
          "file": "fonts/TTNormsBlack.svg",
          "mtimeMs": 1589195770000,
          "ctimeMs": 1589213991767.7312,
          "date": "2020-05-12T07:39:16.814Z"
        },
        {
          "file": "fonts/TTNormsBlack.ttf",
          "mtimeMs": 1589195770000,
          "ctimeMs": 1589213991760.726,
          "date": "2020-05-12T07:39:17.501Z"
        },
        {
          "file": "fonts/TTNormsBlack.woff",
          "mtimeMs": 1589195770000,
          "ctimeMs": 1589213991770.735,
          "date": "2020-05-12T07:39:18.075Z"
        },
        {
          "file": "fonts/TTNormsBlack.woff2",
          "mtimeMs": 1589195770000,
          "ctimeMs": 1589213991774.7366,
          "date": "2020-05-12T07:39:18.661Z"
        },
        {
          "file": "fonts/TTNormsBold.eot",
          "mtimeMs": 1589195782000,
          "ctimeMs": 1589214015620.2585,
          "date": "2020-05-12T07:39:19.323Z"
        },
        {
          "file": "fonts/TTNormsBold.svg",
          "mtimeMs": 1589195782000,
          "ctimeMs": 1589214015615.254,
          "date": "2020-05-12T07:39:20.088Z"
        },
        {
          "file": "fonts/TTNormsBold.ttf",
          "mtimeMs": 1589195782000,
          "ctimeMs": 1589214015608.2517,
          "date": "2020-05-12T07:39:20.688Z"
        },
        {
          "file": "fonts/TTNormsBold.woff",
          "mtimeMs": 1589195782000,
          "ctimeMs": 1589214015617.257,
          "date": "2020-05-12T07:39:21.231Z"
        },
        {
          "file": "fonts/TTNormsBold.woff2",
          "mtimeMs": 1589195782000,
          "ctimeMs": 1589214015622.2585,
          "date": "2020-05-12T07:39:21.809Z"
        },
        {
          "file": "fonts/TTNormsItalic.eot",
          "mtimeMs": 1589195792000,
          "ctimeMs": 1589213967046.0935,
          "date": "2020-05-12T07:39:22.432Z"
        },
        {
          "file": "fonts/TTNormsItalic.svg",
          "mtimeMs": 1589195792000,
          "ctimeMs": 1589213967040.0896,
          "date": "2020-05-12T07:39:23.316Z"
        },
        {
          "file": "fonts/TTNormsItalic.ttf",
          "mtimeMs": 1589195790000,
          "ctimeMs": 1589213967032.0835,
          "date": "2020-05-12T07:39:23.993Z"
        },
        {
          "file": "fonts/TTNormsItalic.woff",
          "mtimeMs": 1589195792000,
          "ctimeMs": 1589213967043.0923,
          "date": "2020-05-12T07:39:24.548Z"
        },
        {
          "file": "fonts/TTNormsItalic.woff2",
          "mtimeMs": 1589195792000,
          "ctimeMs": 1589213967048.0945,
          "date": "2020-05-12T07:39:25.163Z"
        },
        {
          "file": "fonts/TTNormsLight.eot",
          "mtimeMs": 1589195802000,
          "ctimeMs": 1589214004045.649,
          "date": "2020-05-12T07:39:25.814Z"
        },
        {
          "file": "fonts/TTNormsLight.svg",
          "mtimeMs": 1589195802000,
          "ctimeMs": 1589214004039.6462,
          "date": "2020-05-12T07:39:26.593Z"
        },
        {
          "file": "fonts/TTNormsLight.ttf",
          "mtimeMs": 1589195802000,
          "ctimeMs": 1589214004032.639,
          "date": "2020-05-12T07:39:27.231Z"
        },
        {
          "file": "fonts/TTNormsLight.woff",
          "mtimeMs": 1589195802000,
          "ctimeMs": 1589214004043.6482,
          "date": "2020-05-12T07:39:27.810Z"
        },
        {
          "file": "fonts/TTNormsLight.woff2",
          "mtimeMs": 1589195802000,
          "ctimeMs": 1589214004048.65,
          "date": "2020-05-12T07:39:28.351Z"
        },
        {
          "file": "img/backs/for.png",
          "mtimeMs": 1589272083948.5186,
          "ctimeMs": 1589272083950.5186,
          "date": "2020-05-12T08:28:27.064Z"
        },
        {
          "file": "img/backs/last.png",
          "mtimeMs": 1589278259174.3926,
          "ctimeMs": 1589278259176.393,
          "date": "2020-05-12T10:11:29.309Z"
        },
        {
          "file": "img/backs/lets.png",
          "mtimeMs": 1589277197726.6504,
          "ctimeMs": 1589277197728.651,
          "date": "2020-05-12T09:53:23.322Z"
        },
        {
          "file": "img/backs/main.png",
          "mtimeMs": 1589272086437.302,
          "ctimeMs": 1589272086443.3054,
          "date": "2020-05-12T08:28:27.796Z"
        },
        {
          "file": "img/images/andrey.png",
          "mtimeMs": 1589278268502.1843,
          "ctimeMs": 1589278268503.1848,
          "date": "2020-05-12T10:11:30.006Z"
        },
        {
          "file": "img/images/author-cards.png",
          "mtimeMs": 1589278270924.0254,
          "ctimeMs": 1589278270926.0264,
          "date": "2020-05-12T10:11:30.688Z"
        },
        {
          "file": "img/images/button.png",
          "mtimeMs": 1589272222442.5288,
          "ctimeMs": 1589272222475.5613,
          "date": "2020-05-12T08:30:59.161Z"
        },
        {
          "file": "img/images/clouds-main.png",
          "mtimeMs": 1589272095448.2659,
          "ctimeMs": 1589272095449.2651,
          "date": "2020-05-12T08:28:28.533Z"
        },
        {
          "file": "img/images/clouds.png",
          "mtimeMs": 1589276479863.259,
          "ctimeMs": 1589276479866.2617,
          "date": "2020-05-12T09:41:36.922Z"
        },
        {
          "file": "img/images/day-1-img.png",
          "mtimeMs": 1589209300957.4185,
          "ctimeMs": 1589213560622.6138,
          "date": "2020-05-12T07:39:38.813Z"
        },
        {
          "file": "img/images/day-3-img.png",
          "mtimeMs": 1589209289602.9253,
          "ctimeMs": 1589213560624.6155,
          "date": "2020-05-12T07:39:39.542Z"
        },
        {
          "file": "img/images/laptop.png",
          "mtimeMs": 1589272098304.214,
          "ctimeMs": 1589272098313.2202,
          "date": "2020-05-12T08:28:29.081Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1589272102013.0613,
          "ctimeMs": 1589272102016.0635,
          "date": "2020-05-12T08:28:29.531Z"
        },
        {
          "file": "confirm/index.html",
          "mtimeMs": 1584517592787.7637,
          "ctimeMs": 1584517592787.7637,
          "date": "2020-05-12T13:11:37.292Z"
        },
        {
          "file": "css/confirm-ie.min.css",
          "mtimeMs": 1583561610233.5906,
          "ctimeMs": 1584517207516.4712,
          "date": "2020-05-12T13:11:37.797Z"
        },
        {
          "file": "css/confirm.min.css",
          "mtimeMs": 1584517546358.985,
          "ctimeMs": 1584517546358.985,
          "date": "2020-05-12T13:11:38.400Z"
        },
        {
          "file": "css/promo.min.css",
          "mtimeMs": 1589302647087.004,
          "ctimeMs": 1589302647087.004,
          "date": "2020-05-12T16:57:49.852Z"
        },
        {
          "file": "fonts/GilroyBlack.eot",
          "mtimeMs": 1583403298000,
          "ctimeMs": 1583421377166.671,
          "date": "2020-05-12T13:11:40.532Z"
        },
        {
          "file": "fonts/GilroyBlack.svg",
          "mtimeMs": 1583403298000,
          "ctimeMs": 1583421377151.0413,
          "date": "2020-05-12T13:11:41.485Z"
        },
        {
          "file": "fonts/GilroyBlack.ttf",
          "mtimeMs": 1583403298000,
          "ctimeMs": 1583421377151.0413,
          "date": "2020-05-12T13:11:42.494Z"
        },
        {
          "file": "fonts/GilroyBlack.woff",
          "mtimeMs": 1583403298000,
          "ctimeMs": 1583421377151.0413,
          "date": "2020-05-12T13:11:43.337Z"
        },
        {
          "file": "fonts/GilroyBlack.woff2",
          "mtimeMs": 1583403298000,
          "ctimeMs": 1583421377166.671,
          "date": "2020-05-12T13:11:44.036Z"
        },
        {
          "file": "fonts/GilroyMedium.eot",
          "mtimeMs": 1583403344000,
          "ctimeMs": 1583421389277.7585,
          "date": "2020-05-12T13:11:44.770Z"
        },
        {
          "file": "fonts/GilroyMedium.svg",
          "mtimeMs": 1583403344000,
          "ctimeMs": 1583421389277.7585,
          "date": "2020-05-12T13:11:45.863Z"
        },
        {
          "file": "fonts/GilroyMedium.ttf",
          "mtimeMs": 1583403342000,
          "ctimeMs": 1583421389277.7585,
          "date": "2020-05-12T13:11:46.623Z"
        },
        {
          "file": "fonts/GilroyMedium.woff",
          "mtimeMs": 1583403344000,
          "ctimeMs": 1583421389277.7585,
          "date": "2020-05-12T13:11:47.312Z"
        },
        {
          "file": "fonts/GilroyMedium.woff2",
          "mtimeMs": 1583403344000,
          "ctimeMs": 1583421389293.3877,
          "date": "2020-05-12T13:11:48.068Z"
        },
        {
          "file": "fonts/Muller.eot",
          "mtimeMs": 1583541238000,
          "ctimeMs": 1583559339602.5742,
          "date": "2020-05-12T13:11:48.977Z"
        },
        {
          "file": "fonts/Muller.svg",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559351673.9968,
          "date": "2020-05-12T13:11:49.845Z"
        },
        {
          "file": "fonts/Muller.ttf",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559354312.333,
          "date": "2020-05-12T13:11:50.568Z"
        },
        {
          "file": "fonts/Muller.woff",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559357136.4053,
          "date": "2020-05-12T13:11:51.186Z"
        },
        {
          "file": "fonts/Muller.woff2",
          "mtimeMs": 1583541238000,
          "ctimeMs": 1583559339604.576,
          "date": "2020-05-12T13:11:52.162Z"
        },
        {
          "file": "fonts/MullerBold.eot",
          "mtimeMs": 1583541238000,
          "ctimeMs": 1583559317569.5266,
          "date": "2020-05-12T13:11:52.915Z"
        },
        {
          "file": "fonts/MullerBold.svg",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559323243.0266,
          "date": "2020-05-12T13:11:53.938Z"
        },
        {
          "file": "fonts/MullerBold.ttf",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559325075.4675,
          "date": "2020-05-12T13:11:54.940Z"
        },
        {
          "file": "fonts/MullerBold.woff",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559326653.0327,
          "date": "2020-05-12T13:11:55.695Z"
        },
        {
          "file": "fonts/MullerBold.woff2",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559317572.5288,
          "date": "2020-05-12T13:11:56.505Z"
        },
        {
          "file": "fonts/MullerItalic.eot",
          "mtimeMs": 1583541238000,
          "ctimeMs": 1583559284970.7249,
          "date": "2020-05-12T13:11:57.362Z"
        },
        {
          "file": "fonts/MullerItalic.svg",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559293250.338,
          "date": "2020-05-12T13:11:58.411Z"
        },
        {
          "file": "fonts/MullerItalic.ttf",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559297450.0828,
          "date": "2020-05-12T13:11:59.250Z"
        },
        {
          "file": "fonts/MullerItalic.woff",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559301264.5098,
          "date": "2020-05-12T13:11:59.975Z"
        },
        {
          "file": "fonts/MullerItalic.woff2",
          "mtimeMs": 1583541238000,
          "ctimeMs": 1583559284972.726,
          "date": "2020-05-12T13:12:00.769Z"
        },
        {
          "file": "img/confirm/confirm-img.png",
          "mtimeMs": 1583560678199.4304,
          "ctimeMs": 1583560678203.433,
          "date": "2020-05-12T13:12:01.607Z"
        },
        {
          "file": "img/confirm/confirm-logo.png",
          "mtimeMs": 1583560683802.152,
          "ctimeMs": 1583560683817.1619,
          "date": "2020-05-12T13:12:02.300Z"
        },
        {
          "file": "img/confirm/gmail.png",
          "mtimeMs": 1583560688781.459,
          "ctimeMs": 1583560688783.4607,
          "date": "2020-05-12T13:12:03.005Z"
        },
        {
          "file": "img/confirm/mailru.png",
          "mtimeMs": 1583560692773.1108,
          "ctimeMs": 1583560692776.113,
          "date": "2020-05-12T13:12:03.811Z"
        },
        {
          "file": "img/confirm/rambler.png",
          "mtimeMs": 1583560696989.911,
          "ctimeMs": 1583560696991.913,
          "date": "2020-05-12T13:12:04.412Z"
        },
        {
          "file": "img/confirm/title-bg.png",
          "mtimeMs": 1583560701842.1335,
          "ctimeMs": 1583560701844.1355,
          "date": "2020-05-12T13:12:05.320Z"
        },
        {
          "file": "img/confirm/yandex.png",
          "mtimeMs": 1583560706978.5457,
          "ctimeMs": 1583560706987.5527,
          "date": "2020-05-12T13:12:05.921Z"
        },
        {
          "file": "img/icons/flags.png",
          "mtimeMs": 1578323782889.2456,
          "ctimeMs": 1578323783046.7058,
          "date": "2020-05-12T13:12:06.694Z"
        },
        {
          "file": "img/icons/flags@2x.png",
          "mtimeMs": 1578323788520.2798,
          "ctimeMs": 1578323788614.3718,
          "date": "2020-05-12T13:12:08.082Z"
        },
        {
          "file": "img/icons/soc-buttons.jpg",
          "mtimeMs": 1589291231850.2283,
          "ctimeMs": 1589291231850.2283,
          "date": "2020-05-12T13:47:17.493Z"
        },
        {
          "file": "js/confirm.min.js",
          "mtimeMs": 1583561573131.7773,
          "ctimeMs": 1583561573131.7773,
          "date": "2020-05-12T13:12:09.246Z"
        },
        {
          "file": "js/promo.min.js",
          "mtimeMs": 1589288290100.2383,
          "ctimeMs": 1589288290100.2383,
          "date": "2020-05-12T13:12:10.107Z"
        },
        {
          "file": "promo/index.html",
          "mtimeMs": 1589298192244.089,
          "ctimeMs": 1589298192244.089,
          "date": "2020-05-12T15:43:21.123Z"
        },
        {
          "file": "remind/index.html",
          "mtimeMs": 1589291506270.9875,
          "ctimeMs": 1589291506270.9875,
          "date": "2020-05-12T13:52:43.329Z"
        },
        {
          "file": "thanks/index.html",
          "mtimeMs": 1589298142081.8718,
          "ctimeMs": 1589298142081.8718,
          "date": "2020-05-12T15:43:21.632Z"
        },
        {
          "file": "bonus/index.html",
          "mtimeMs": 1589368697721.8596,
          "ctimeMs": 1589368697721.8596,
          "date": "2020-05-13T11:18:26.567Z"
        },
        {
          "file": "css/bonus.min.css",
          "mtimeMs": 1589368660177.411,
          "ctimeMs": 1589368660177.411,
          "date": "2020-05-13T11:17:50.643Z"
        },
        {
          "file": "home-task-1/index.html",
          "mtimeMs": 1589357175784.3809,
          "ctimeMs": 1589357175784.3809,
          "date": "2020-05-13T08:09:27.543Z"
        },
        {
          "file": "home-task-2/index.html",
          "mtimeMs": 1589357175783.3792,
          "ctimeMs": 1589357175783.3792,
          "date": "2020-05-13T08:09:28.034Z"
        },
        {
          "file": "home-task-3/index.html",
          "mtimeMs": 1589357175786.3816,
          "ctimeMs": 1589357175786.3816,
          "date": "2020-05-13T08:09:28.562Z"
        },
        {
          "file": "home-task-4/index.html",
          "mtimeMs": 1589357175791.3848,
          "ctimeMs": 1589357175791.3848,
          "date": "2020-05-13T08:09:29.046Z"
        },
        {
          "file": "img/banner.jpg",
          "mtimeMs": 1589358733350.0715,
          "ctimeMs": 1589358787366.116,
          "date": "2020-05-13T08:33:12.499Z"
        },
        {
          "file": "course/index.html",
          "mtimeMs": 1589990118315.4814,
          "ctimeMs": 1589990118315.4814,
          "date": "2020-05-20T15:55:48.620Z"
        },
        {
          "file": "css/course.min.css",
          "mtimeMs": 1589992563863.4885,
          "ctimeMs": 1589992563863.4885,
          "date": "2020-05-20T16:36:15.037Z"
        },
        {
          "file": "js/course.min.js",
          "mtimeMs": 1589971488168.4766,
          "ctimeMs": 1589971488168.4766,
          "date": "2020-05-20T10:46:51.663Z"
        },
        {
          "file": "img/images/lets-1.jpg",
          "mtimeMs": 1589979324881.2925,
          "ctimeMs": 1589979324881.2925,
          "date": "2020-05-20T12:55:50.239Z"
        },
        {
          "file": "img/images/lets-2.jpg",
          "mtimeMs": 1589979327169.9795,
          "ctimeMs": 1589979327169.9795,
          "date": "2020-05-20T12:55:50.762Z"
        },
        {
          "file": "img/images/lets-3.jpg",
          "mtimeMs": 1589979330790.2268,
          "ctimeMs": 1589979330790.2268,
          "date": "2020-05-20T12:55:51.685Z"
        },
        {
          "file": "img/images/lets-4.jpg",
          "mtimeMs": 1589979335286.312,
          "ctimeMs": 1589979335286.312,
          "date": "2020-05-20T12:55:52.829Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead",
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": false,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/course.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\course.min.js"
        }
      },
      {
        "file": "_app/_js/promo.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\promo.min.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js"
        }
      },
      {
        "file": "_app/bonus.pug",
        "config": {
          "customOutput": "bonus\\index.html"
        }
      },
      {
        "file": "_app/course.pug",
        "config": {
          "customOutput": "course\\index.html"
        }
      },
      {
        "file": "_app/home-task-1.pug",
        "config": {
          "customOutput": "home-task-1\\index.html"
        }
      },
      {
        "file": "_app/home-task-2.pug",
        "config": {
          "customOutput": "home-task-2\\index.html"
        }
      },
      {
        "file": "_app/home-task-3.pug",
        "config": {
          "customOutput": "home-task-3\\index.html"
        }
      },
      {
        "file": "_app/home-task-4.pug",
        "config": {
          "customOutput": "home-task-4\\index.html"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/promo.pug",
        "config": {
          "customOutput": "promo\\index.html"
        }
      },
      {
        "file": "_app/remind.pug",
        "config": {
          "customOutput": "remind\\index.html"
        }
      },
      {
        "file": "_app/styl/bonus.min.styl",
        "config": {
          "customOutput": "css\\bonus.min.css"
        }
      },
      {
        "file": "_app/styl/course.min.styl",
        "config": {
          "customOutput": "css\\course.min.css"
        }
      },
      {
        "file": "_app/styl/promo.min.styl",
        "config": {
          "tasks": {
            "stylus": {
              "options": {
                "linenos": false
              }
            }
          },
          "customOutput": "css\\promo.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "_app/thanks.pug",
        "config": {
          "customOutput": "thanks\\index.html"
        }
      },
      {
        "file": "_app\\_maket\\1024х512.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 119688,
          "optimized": true
        }
      },
      {
        "file": "_app\\_maket\\1200х100.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 55268,
          "optimized": true
        }
      },
      {
        "file": "img/backs/for.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 1146128,
          "optimized": true
        }
      },
      {
        "file": "img/backs/last.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 1459012,
          "optimized": true
        }
      },
      {
        "file": "img/backs/lets.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 2647611,
          "optimized": true
        }
      },
      {
        "file": "img/backs/main.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 815372,
          "optimized": true
        }
      },
      {
        "file": "img/icons/soc-buttons.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 16536,
          "optimized": true
        }
      },
      {
        "file": "img/images/andrey.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 437308,
          "optimized": true
        }
      },
      {
        "file": "img/images/author-cards.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 23876,
          "optimized": true
        }
      },
      {
        "file": "img/images/button.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 3778,
          "optimized": true
        }
      },
      {
        "file": "img/images/clouds-main.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 941434,
          "optimized": true
        }
      },
      {
        "file": "img/images/clouds.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 934512,
          "optimized": true
        }
      },
      {
        "file": "img/images/day-1-img.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 104982
        }
      },
      {
        "file": "img/images/day-3-img.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 190190
        }
      },
      {
        "file": "img/images/laptop.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 47562,
          "optimized": true
        }
      },
      {
        "file": "img/images/lets-1.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 28596,
          "optimized": true
        }
      },
      {
        "file": "img/images/lets-2.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 37508,
          "optimized": true
        }
      },
      {
        "file": "img/images/lets-3.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 57378,
          "optimized": true
        }
      },
      {
        "file": "img/images/lets-4.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 25308,
          "optimized": true
        }
      },
      {
        "file": "img/images/logo.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 3680,
          "optimized": true
        }
      }
    ]
  }
}
