#lets
	padding 60px 0 100px
	background-color: #F8F2E4
	position relative
	z-index 30
	.container
		position relative
		z-index 20
	&:before
		content: ''
		display block
		position absolute
		margin: 0 auto
		left 0
		right 0
		bottom: -290px
		width 100%
		max-width 1920px
		height 594px
		background-image url(../img/images/clouds.png)
		background-repeat no-repeat
		background-position: center
		background-size contain
		// z-index 0
.lets-item
	border-radius: 10px;
	box-shadow: 0px 1px 44.16px 1.84px rgba(0, 0, 0, 0.3);
	background-color #fff
	width 100%
	max-width 334px
	margin 0 auto 50px
	padding 220px 20px 20px
	text-align center
	min-height 402px
	background-repeat no-repeat
	background-position: top center
	background-size: auto 200px
	&-1
		background-image url(../img/images/lets-1.jpg)
	&-2
		background-image url(../img/images/lets-2.jpg)
	&-3
		background-image url(../img/images/lets-3.jpg)
	&-4
		background-image url(../img/images/lets-4.jpg)