@media screen and (min-width 1900px)
	#main:before
		max-width none
		background-size: cover
		bottom -470px
	#lets:before
		bottom -270px
		max-width none
		background-size: 100% 100%
	#prices:before
	#last:before
		max-width none
		background-size: 100% 100%
@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	#last:before, #lets:before, #prices:before
		bottom -260px
	.packet
		max-width 380px
@media screen and (max-width 1199px)
	#main
		background-position: top 20px right -370px
		&:before
			bottom: -470px
	.plan-packet
		min-height 359px
	.lets-item
		min-height 456px
	#lets:before
		bottom: -270px
	#prices:before
		bottom -270px
	.author-img
		right -100px
	#author
		overflow hidden
@media screen and (max-width 991px)
	#main
		background-position: top 20px right -600px
	.plan-packet
		min-height 440px
	.lets-item
		min-height 348px
	.author-img
		right -150px
	#last
		padding 50px 0
	.last-title
		font-size: 40px
		margin-bottom: 30px
	.last-text
		font-size: 20px
		&:last-of-type
			margin 20px 0
	#last:before
		bottom -310px
@media screen and (max-width 767px)
	header
		margin-bottom: 20px
	.header-logo
		float: none
		margin 0 auto 5px
		width: 80px;
		height: 35px;
	.contacts
		text-align center
		float none
		line-height: 1
	.contact
		margin 0 5px
		display inline-block
	#main
		text-align center
		background-image: none
		padding 0
	.main-title
		font-size: 32px
		margin-bottom: 20px
		span
			font-size: 40px
	.button-main
		margin-left: auto
	#about
		padding 100px 0 50px
	.plan-packet
		min-height 1px
		margin-bottom: 30px
	#plan
		padding 50px 0
		.button
			margin-top: 40px
	.lets-item
		margin-bottom: 30px
	#prices
		padding 100px 0
	#author
		padding 100px 0 0
	.author-img
		position: static
		display block
		margin 0 auto
		width 100%
		max-width 570px
	.author-list
		padding 30px
		margin-bottom: 50px
		&:before
			left: -101px;
			bottom: -43px;
	#records
		padding 50px 0
@media screen and (max-width 485px)
	.general-title
		font-size: 30px
		margin-bottom: 25px
	#main
	.contact
		font-size: 14px
	.main-title
		font-size: 26px
		margin 10px 0 15px
		span
			font-size: 30px
	.main-info:last-of-type
		margin-bottom: 30px
	#about
		padding 50px 0 30px
	.about-item
		padding 20px 20px 30px
	.about-item-text
		font-size: 18px
		&:last-of-type
			margin-top: 10px
	#plan
		padding 30px 0
	.plan-packet
		padding: 20px
	.plan-packet-title
		font-size: 20px
		margin-bottom: 10px
	.more-button
		margin-top: 10px
	#plan .button
		margin-top: 0
	#lets
		padding 30px 0 70px
	.lets-item
		min-height 1px
	#prices
		padding 60px 0
		&:before
			bottom: -280px
	.modal-title
		font-size: 22px
	.modal-subtitle
		font-size: 18px
		margin 15px 0 10px
	.flip-clock-wrapper
		width 100%
		max-width 260px
		margin-top: 20px
	.flip-clock-wrapper ul
		height 50px
		margin 3px
	.flip-clock-wrapper ul li
		line-height: 50px
	.flip-clock-wrapper ul li a div.up::after
		top 24px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 40px
	.flip-clock-divider
		height 50px
	.flip-clock-dot
		width 7px
		height 7px
		left 3px
	.flip-clock-dot.top
		top 31px
	.flip-clock-dot.bottom
		bottom: 27px
	.flip-clock-divider .flip-clock-label
	.flip-clock-divider.minutes .flip-clock-label
	.flip-clock-divider.seconds .flip-clock-label
		font-size:  10px
		right: -59px
	#author
		padding 80px 0 0
	#records
		padding 30px 0 40px
	#last
		padding 40px 0
	.last-title
		font-size: 28px
		margin-bottom: 20px
	.last-text
		font-size: 18px
	footer
		padding 15px 0
		font-size: 12px
		h5
			font-size: 18px
	.soc-buttons a
		padding 10px 5px
@media screen and (max-width 385px)
	.main-title
		font-size: 20px
		span
			font-size: 28px
	.general-title
		font-size: 26px
	.last-title
		font-size: 26px
	.about-item
		padding 15px
	.about-item-text span
		font-size: 16px
	.modal
		padding 15px
	#lets
		padding-bottom: 30px
		&:before
			bottom: -285px
	.prepayment-title
		font-size: 26px
	.prepayment-text
		font-size: 18px
	.timer-title
		font-size: 24px
	#prices
		&:before
			bottom: -290px
	#author
		padding-top: 50px