@import 'base/0.fonts'

@import '../_css/bootstrap.min.css'

@import 'base/0.base'
	
@import 'base/0.header'

#main
	padding: 0 0 150px
	background-color: #F8F2E4
	background-image url('../img/backs/main.png')
	background-repeat no-repeat
	background-position: top 20px right -200px
	text-align center
	position relative
	overflow hidden
	min-height calc(100vh - 147px)
	.container
		position relative
		z-index 20
	&:before
		content ''
		display block
		width 100%
		max-width 1920px
		height 1000px
		background-image url(../img/images/clouds-main.png)
		background-repeat no-repeat
		background-position: center
		background-size contain
		position: absolute
		margin 0 auto
		left 0
		right 0
		top 150px
	&.remind
		background-image: none
.pre
	font-size: 20px
	font-family: TL
.main-title
	font-size: 36px
	font-family: TBk
	font-weight: 900
	color MB
	text-transform uppercase
	a
		color #677baa
		display block
.main-subtitle
	font-size: 24px
	margin-top: 20px
.laptop-wrapper-main
	margin 40px auto 0
	max-width 560px
@import 'base/0.footer'

@media screen and (min-width 1900px)
	#main:before
		max-width none
		background-size: cover
@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	header
		margin-bottom: 100px
@media screen and (max-width 1199px)
	#main:before
		top 200px
@media screen and (max-width 991px)
		#main
			background-image: none
			&:before
				top auto
				bottom -500px
@media screen and (max-width 767px)
	#main
		padding 0 0 80px
	header
		margin-bottom: 10px
	.header-logo
		float: none
		margin 0 auto 5px
		width: 80px;
		height: 35px;
	.contacts
		text-align center
		float none
		line-height: 1
	.contact
		margin 0 5px
		display inline-block
	.main-title
		font-size: 28px
	.laptop-wrapper-main
		margin-top: 20px
	.laptop-wrapper:before
		width 100%
		left 0
		height 121%
		top -1%
	.video-wrapper iframe, .video-wrapper img
		width 85%
		margin 0 auto
	footer
		padding 15px 0
		font-size: 12px
		h5
			font-size: 18px
	.soc-buttons a
		margin 10px 5px
@media screen and (max-width 485px)
	.pre
		font-size: 18px
	.main-title
		font-size: 26px
	.main-subtitle
		font-size: 20px
		margin-top: 10px
	.contact
		font-size: 14px
@media screen and (max-width 385px)
	#main
		padding 0 0 60px
	.main-title
		font-size: 22px
	.laptop-wrapper-main
		margin-top: 10px
	.remind-main-title
		font-size: 20px