@import 'base/0.fonts'

@import '../_css/bootstrap.min.css'

@import 'base/0.base'

@import '../_css/jquery.fancybox.min.css'
@import '../_css/flipclock.min.css'

@import 'base/0.header'
@import 'course/1.main'
@import 'course/2.about'
@import 'course/3.plan'
@import 'course/4.lets'
@import 'course/5.prices'
@import 'main/5.author'
@import 'course/6.records'
@import 'main/6.last'
@import 'base/0.footer'
@import 'course/7.modals'
@import 'course/8.medias'