@import 'base/0.fonts'

@import '../_css/bootstrap.min.css'

@import 'base/0.base'
@import '../_css/jquery.fancybox.min.css'
	
@import 'base/0.header'
@import 'main/1.main'
@import 'main/2.for'
@import 'main/3.plan'
@import 'main/4.lets'
@import 'main/5.author'
@import 'main/6.last'
@import 'main/7.footer'
@import 'main/8.modal'
@import 'main/9.politics'
@import 'main/10.medias'