@media screen and (min-width 1900px)
	#main:before
		max-width none
		background-size: cover
@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	header
		margin-bottom: 120px
	.main-title
		font-size: 30px
	.main-subtitle
		font-size: 26px
	.intl-tel-input .country-list .country
		max-width 300px
@media screen and (max-width 991px)
	.main-title
		font-size: 22px
@media screen and (max-width 767px)
	#main
		padding 0 0 50px
	header
		margin-bottom: 10px
	.header-logo
		float: none
		margin 0 auto 5px
		width: 80px;
		height: 35px;
	.contacts
		text-align center
		float none
		line-height: 1
	.contact
		margin 0 5px
		display inline-block
@media screen and (max-width 485px)
	.contact
		font-size: 14px
	#main
		padding 0 0 40px
		min-height calc(100vh - 132px)
	.main-title
		font-size: 20px
		span
			font-size: 22px
	.main-subtitle
		font-size: 20px
		margin 20px 0 30px
		line-height: 1.2
		span
			font-size: 24px
	.form
		padding 30px 20px
	.modal-title
		font-size: 20px
	.button-thanks
		margin 20px auto 40px
	.main-container
		margin 20px auto 30px
	.button-bots, .button-form, .button-thanks
		font-size: 16px
	footer
		padding 15px 0
		h5
			font-size: 18px
			line-height: 1.2
	.soc-buttons a
		margin 10px 5px 5px
	footer p
		font-size: 12px
	#Politics
		padding 20px
@media screen and (max-width 385px)
	#main
		padding 0 0 30px
	.main-title
		font-size: 18px
		margin-bottom: 0
		span
			font-size: 18px
	.main-container
		padding 15px
	#Politics .modal-title
		font-size: 16px
		small
			font-size: 12px
	.button-bots, .button-form, .button-thanks
		font-size: 14px
	.main-subtitle
		font-size: 18px
		span
			font-size: 20px
	.form
		padding 25px 15px
	