-var head_url = 'https://lebedev.mastervision.su/kabbalistic-tarot/home-task-3/';
-var head_title = 'Стихия воздуха';
-var head_description = '3 урок от Андрея Лебедева';
-var video = '8EsZUgVYhX0';
-var styles = '../css/bonus.min.css';
-var fb_content = '2030481470529055'
-var fav_ico = '../favicon.ico'
-var fav_png = '../favicon.png'
-var footer_title = true

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_fb_scripts
	body
		include pug/scripts/body_top_fb_scripts
		include pug/ht/1.main.pug
		include pug/ht/2.feedback.pug
		include pug/0.footer.pug
		include pug/scripts/body_bottom_scripts