#last
	padding 100px 0
	text-align center
	position relative
	background-color: #383039
	background-image url(../img/backs/last.png)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	color #fff
	text-transform uppercase
	overflow hidden
	.container
		position relative
		z-index 20
	&:before
		@extend #plan:before
		bottom: -220px
.last-title
	font-size: 50px
	font-family: TBk
	margin-bottom: 60px
.last-text
	font-size: 30px
	font-family: TB
	&:last-of-type
		margin 60px 0 40px