#last
	padding 100px 0
	text-align center
	position relative
	background-color: #383039
	background-image url(../img/backs/last.png)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	color #fff
	text-transform uppercase
	overflow hidden
	.container
		position relative
		z-index 20
	&:before
		content: ''
		display block
		position absolute
		margin: 0 auto
		left 0
		right 0
		bottom: -260px
		width 100%
		max-width 1920px
		height 594px
		background-image url(../img/images/clouds.png)
		background-repeat no-repeat
		background-position: center
		background-size contain
.last-title
	font-size: 50px
	font-family: TBk
	font-weight: 900
	margin-bottom: 60px
.last-text
	font-size: 30px
	font-family: TB
	font-weight: bold
	&:last-of-type
		margin 60px 0 40px