.modal
	display none
	cursor: auto !important
	border-radius: 15px
#Politics
	.modal-title
		font-size: 24px
		color #000
		font-family: TBk
		margin-bottom: 20px
		small
			font-size: 18px
			font-family: TL
			display block
	p
		margin-bottom: 20px
		&:last-of-type
			margin-bottom: 0