T = 'TTNorms', sans-serif
TBk = 'TTNormsBlack', sans-serif
TB = 'TTNormsBold', sans-serif
TI = 'TTNormsItalic', sans-serif
TL = 'TTNormsLight', sans-serif
MB = #2c364e

@font-face {
	font-family: 'TTNorms';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: local  url('../fonts/TTNorms.eot');
	src: url('../fonts/TTNorms.eot');
	src: url('../fonts/TTNorms.eot') format('embedded-opentype'),
		 url('../fonts/TTNorms.woff2') format('woff2'),
		 url('../fonts/TTNorms.woff') format('woff'),
		 url('../fonts/TTNorms.ttf') format('truetype'),
		 url('../fonts/TTNorms.svg#TTNorms') format('svg');
}
@font-face {
	font-family: 'TTNormsBlack';
	font-display: fallback;
	font-weight: 900
	font-style: normal;
	src: local  url('../fonts/TTNormsBlack.eot');
	src: url('../fonts/TTNormsBlack.eot');
	src: url('../fonts/TTNormsBlack.eot') format('embedded-opentype'),
		 url('../fonts/TTNormsBlack.woff2') format('woff2'),
		 url('../fonts/TTNormsBlack.woff') format('woff'),
		 url('../fonts/TTNormsBlack.ttf') format('truetype'),
		 url('../fonts/TTNormsBlack.svg#TTNormsBlack') format('svg');
}
@font-face {
	font-family: 'TTNormsBold';
	font-display: fallback;
	font-weight: bold
	font-style: normal;
	src: local  url('../fonts/TTNormsBold.eot');
	src: url('../fonts/TTNormsBold.eot');
	src: url('../fonts/TTNormsBold.eot') format('embedded-opentype'),
		 url('../fonts/TTNormsBold.woff2') format('woff2'),
		 url('../fonts/TTNormsBold.woff') format('woff'),
		 url('../fonts/TTNormsBold.ttf') format('truetype'),
		 url('../fonts/TTNormsBold.svg#TTNormsBold') format('svg');
}
@font-face {
	font-family: 'TTNormsItalic';
	src: url('../fonts/TTNormsItalic.eot');
	font-display: fallback;
	font-weight: normal;
	font-style: italic
	src: local  url('../fonts/TTNormsItalic.eot');
	src: url('../fonts/TTNormsItalic.eot') format('embedded-opentype'),
		 url('../fonts/TTNormsItalic.woff2') format('woff2'),
		 url('../fonts/TTNormsItalic.woff') format('woff'),
		 url('../fonts/TTNormsItalic.ttf') format('truetype'),
		 url('../fonts/TTNormsItalic.svg#TTNormsItalic') format('svg');
}
@font-face {
	font-family: 'TTNormsLight';
	font-display: fallback;
	font-weight: 100
	font-style: normal;
	src: local  url('../fonts/TTNormsLight.eot');
	src: url('../fonts/TTNormsLight.eot');
	src: url('../fonts/TTNormsLight.eot') format('embedded-opentype'),
		 url('../fonts/TTNormsLight.woff2') format('woff2'),
		 url('../fonts/TTNormsLight.woff') format('woff'),
		 url('../fonts/TTNormsLight.ttf') format('truetype'),
		 url('../fonts/TTNormsLight.svg#TTNormsLight') format('svg');
}
