header
	padding 10px 0
	overflow hidden
	margin-bottom: 30px
.header-logo
	width 100px
	height 44px
	display block
	background-image url(../img/images/logo.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
	float left
.contacts
	line-height: 42px
	float: right 
	text-align right
.contact
	font-size: 16px
	color: #000
	&-skype
		margin 0 25px
	&:focus
		text-decoration none
		color #000
	&:hover
		color #000
		text-decoration: underline