mixin for(cl,p)
	.col-md-3
		.for-item(class=cl)
			p.for-item-text=p

section#for
	.container
		+gt('','Этот мастер-класс будет полезен всем, кто:')
		.row
			+for('for-item-1','Начал считать себя неудачником или невезучим человеком')
			+for('for-item-2','Устал от проблем, которые окружили плотным кольцом и не дают увидеть свет в конце тоннеля')
			+for('for-item-3','Считает, что заслуживает намного большего, чем имеет сегодня')
			+for('for-item-4','Хочет найти себя и научиться сотворять свою реальность, опираясь на глубокие эзотерические знания, зашифрованные в магической колоде Алистера Кроули')
		+b('button-up ','#Modal','Записаться на презентацию')