section#plan
	.container
		+gt('general-title-black','Программа мастер-класса')
		.row
			.col-md-4.col-sm-4
				.day-wrapper.day-wrapper-1
					.day.day-1
						.day-head
							h4.day-title День 1
								small «Магическая символика колоды таро Алистера Кроули»
						.day-body
							ul.day-list
								li - Слухи о колоде таро Тота
								li - История происхождения игральных карт
								li - Гипотезы происхождения карт таро
								li - Колоды Висконти-Сфорца, Соло Буска, - Андреа Мантеньи. Марсельское таро
								li - Поэма Петрарки «Триумфы»
								li - Оккультное таро
								li - Французская школа таро (Жан-батист Эттейла, Элифас Леви, Жерар Анкосс)
								li - Британская школа таро
								li - История создания колоды таро Тота
								li - Дружба Кроули и Фриды Харрис
								li - Издательства колоды Кроули
						.day-footer
							h4.day-title.day-title-bonus Бонусы
							ol.day-list.day-ol-list
								li Дерево Сефирот в каббалистической модели
								li Каббалистическая традиция
								li Медитация на «Древо жизни»
								li Методичка «Магическая символика колода таро Алистера Кроули»
			.col-md-4.col-sm-4
				.day-wrapper.day-wrapper-2
					.day.day-2
						.day-head
							h4.day-title День 2
								small «Коррекция раскладов. Большая мандала Тарота»
						.day-body
							ul.day-list
								li - Правила создания сложной мыслеформы
								li - Энергетическая структура достижения желаемого
								li - Соответствие мастей и стихий в разных традициях
								li - Правильный взгляд на коррекцию расклада
								li - Расклад «Кельтский крест»
								li - Оптимальное время для коррекции раскладов
								li - Метод «Выедания ситуации»
								li - Темпоритм. Время и определение сроков в таро
								li - Дневник таро
						.day-footer
							h4.day-title.day-title-bonus Бонусы
							ol.day-list.day-ol-list
								li Гармонизация карт с помощью «Большой мандалы Тарота»
								li Рекомендации по созданию алтаря для освящения талисманов на основе карт таро
								li Методичка «Коррекция раскладов. Большая мандала Тарота»
			.col-md-4.col-sm-4
				.day-wrapper.day-wrapper-3
					.day.day-3
						.day-head
							h4.day-title День 3
								small «Меры предосторожности при работе с картами таро. Талисманика»
						.day-body
							ul.day-list
								li - Кастовая система – многомерная структура общества
								li - Эффект от работы с картами в «тонком плане»
								li - Уход за колодой
								li - Талисманика в таро
						.day-footer
							h4.day-title.day-title-bonus Бонусы
							ol.day-list.day-ol-list
								li Ритуал освящения талисмана на основе карт таро
								li Методичка «Меры предосторожности при работе с картами таро. Талисманика»
		+b('button-up ','#Modal','Иду на мастер-класс')