mixin let(cl,p)
	.lets-item(class=cl)
		p.lets-item-text=p

section#lets
	.container
		+gt('','Мастер-класс позволит вам:')
		.row
			.col-md-3.col-sm-3
				+let('lets-item-1','Поверить в могущество такого инструмента для трансформации реальности, как таро Тота')
			.col-md-3.col-sm-3
				+let('lets-item-2','Научиться работать с таро Тота так, чтобы изменить свою жизнь к лучшему')
			.col-md-3.col-sm-3
				+let('lets-item-3','Начать «жонглировать» обстоятельствами, возможностями, желаниями')
			.col-md-3.col-sm-3
				+let('lets-item-4','Обрести наиболее комфортное и приятное для вас окружение')
		.row
			.col-md-3.col-sm-3
				+let('lets-item-5','Сменить позиционирование себя в глазах социума на более успешное и привлекательное')
			.col-md-3.col-sm-3
				+let('lets-item-6','Наладить финансовый поток, личную жизнь, вдохнув новый смысл в свою жизнь')
			.col-md-3.col-sm-3
				+let('lets-item-7','Перестать быть «жертвой обстоятельств», вместо этого научившись создавать, направлять и перенаправлять их')
			.col-md-3.col-sm-3
				+let('lets-item-8','Узнать о структуре колоды Тота, её отличии от других колод и преимуществах')
		.row
			.col-md-4.col-sm-4
				+let('lets-item-9','Понять ключевые различия между французской и британской школами таро')
			.col-md-4.col-sm-4.col-md-push-4.col-sm-push-4
				+let('lets-item-10','Создавать талисманы на основе карт таро для решений трудных жизненных ситуаций в своей жизни и жизни близких людей')
			.col-md-4.col-sm-4col-md-pull-4.col-sm-pull-4
				+b('button-up button-lets','#Modal','Мне это необходимо')