section#author
	.container
		+gt('general-title-black','Андрей Лебедев')
		.row
			.col-md-4.col-sm-4.col-md-push-8.col-sm-push-8
				img(src=path+"img/images/andrey.png", alt="Андрей Лебедев").author-img
			.col-md-8.col-sm-8.col-md-pull-4.col-sm-pull-4
				ul.author-list
					li Кандидат исторических наук
					li Культуролог
					li Эзотерик со стажем более 20 лет
					li Работает с оккультным Таро, потому что знает, что по своей силе, предсказательным и магическим возможностям, уникальной точности символизма Таро нет равных
					li Преподавать начал сравнительно недавно, но уже смог завоевать признание учеников глубиной своих познаний