section#main
	.container
		include ../0.header.pug
		p.pre (записи мастер-класса - внизу страницы)
		h1.main-title
			small обучающий курс
			| Каббалистическое 
			span таро
		p.main-info Старт курса: 
			span NN месяца, в 19:00 (мск)
		p.main-info Автор курса: 
			span Андрей Лебедев
		+b('button-main','#prices','Записаться')