section#about
	.container
		.about-item
			p.about-item-text
				span Курс «Каббалистическое таро» 
				| пронизан магией и загадочностью. В его основе лежат знания системы таро Алистера Кроули – самого неординарного эзотерика тысячелетия. Эта колода необыкновенна и уникальна, могущественна и всеохватывающая. По своему сложному символическому содержанию таро Кроули пока ещё никто не превзошёл. 
			p.about-item-text Все семинары проходят в онлайн-режиме. План занятий структурирован для максимально удобного восприятия материала. Во время занятий будут рассмотрены все магические элементы, из которых состоит каждая карта. Тренер расскажет, какой смысл заложен в каждой карте, и научит вас, как применять эту информацию в реальности. Каждое занятие предполагает выполнение домашнего задания. А во время практических занятий вас ожидает плодотворная и результативная групповая работа