section#plan
	.container
		+gt('','План курса:')
		.plan-packets
			.row
				.col-md-6.col-sm-6
					a.plan-packet(href="#Modal-1")
						h4.plan-packet-title Пакет БАЗОВЫЙ
						p.plan-packet-text Изучение старших арканов карт таро Тота. В конце обучения – ритуал освящения талисмана (Ритуал срединного столпа) на основе изученных карт старших арканов. Заряженный талисман даёт возможность запитать необходимой энергией человека, скорректировать его жизненный путь
						p.more-button подробнее
				.col-md-6.col-sm-6
					a.plan-packet(href="#Modal-2")
						h4.plan-packet-title Пакет МЕДИУМ
						p.plan-packet-text Продолжение изучения карт таро Тота, изучение младших арканов и карт двора. Составление сложных талисманных раскладов, которые дают возможность запитать и направить любую сложившуюся ситуацию в нужную сторону
						p.more-button подробнее
			.row
				.col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
					a.plan-packet(href="#Modal-3")
						h4.plan-packet-title Пакет ПРОФИ
						p.plan-packet-text Прогностика и коррекция жизненных ситуаций с помощью карт таро Тота. Изучение раскладов, схем и принципов их составления. Толкование раскладов. Подготовка с помощью биоэнергетических практик к работе с коррекцией раскладов. Изучение канонов составления магических мандал в каббалистической традиции. Составление индивидуального годового корректирующего расклада. На последнем занятии, 29 декабря, – новогодний ритуал с освящением коррекционного расклада
						p.more-button подробнее
		+b('','#prices','Записаться')