section#lets
	.container
		+gt('general-title-black','Курс позволит вам:')
		.row
			.col-md-3.col-sm-6
				.lets-item.lets-item-1
					p.lets-item-text Получить личный «ключ к шифру Вселенной» и своему будущему
			.col-md-3.col-sm-6
				.lets-item.lets-item-2
					p.lets-item-text Научиться узнавать и даже изменять своё будущее
			.col-md-3.col-sm-6
				.lets-item.lets-item-3
					p.lets-item-text Освоить и изучить символизм, психологию, динамику и магию таро – очень тонкий инструмент и генератор перемен вашей жизни
			.col-md-3.col-sm-6
				.lets-item.lets-item-4
					p.lets-item-text Начать создавать, удерживать в равновесии и энергетически гармонизировать свои собственные системы жизни