section#last
	.container
		h3.last-title начните сейчас!
		p.last-text Более 20 000 учеников доверяют нам и реализуют свои цели!
		p.last-text вы можете достичь таких же результатов
		+b('button-up ','#prices','Записаться')