.modal#Modal-1
	h3.modal-title Пакет БАЗОВЫЙ
	.row
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 1 ЗАНЯТИЕ. 
				| ДИНАМИЧЕСКИЕ ПАРЫ В КОЛОДЕ ТАРО ТОТА «ДУРАК И МАГ»
			ol.modal-list
				li
					span Почему «Дурак» и «Маг» – андрогены?
				li
					span «Дурак» таро Тота
				li
					span «Дурак» Марсельского таро и таро Райдера Уэйта
				li
					span Возможные проявления в раскладе
				li
					span Маг или Фокусник?
				li
					span «Маг» Марсельского таро и таро Райдера-Уэйта
				li
					span Значение карт «Дурак» и «Маг»
				li
					span Медитации на арканы карт таро
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 2 ЗАНЯТИЕ. 
				| ДИНАМИЧЕСКИЕ ПАРЫ В КОЛОДЕ ТАРО ТОТА «ВЕРХОВНАЯ ЖРИЦА И ИМПЕРАТРИЦА»
			ol.modal-list
				li
					span Карта «Верховная жрица»
				li
					span Три жрицы – три этапа духовной эмансипации женщины
				li
					span «Женский крест» или равносторонний крест природы
				li
					span Три императрицы – три вида плодородия
				li
					span Значение карт «Жрица» и «Императрица»
				li
					span Медитации на арканы карт таро
	.row
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 3 ЗАНЯТИЕ. 
				| ДИНАМИЧЕСКИЕ ПАРЫ В КОЛОДЕ ТАРО ТОТА «ИМПЕРАТОР И ИЕРОФАНТ»
			ol.modal-list
				li
					span Удел «Императора»
				li
					span «Императоры» Марсельского таро и таро Райдера-Уэйта
				li
					span Тайна Иерофанта
				li
					span «Иерофанты» Марсельского таро и таро Райдера-Уэйта
				li
					span Значение карт «Император» и «Иерофант»
				li
					span Медитации на арканы карт таро
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 4 ЗАНЯТИЕ. 
				| ДИНАМИЧЕСКИЕ ПАРЫ В КОЛОДЕ ТАРО ТОТА  «ВЛЮБЛЕННЫЕ И КОЛЕСНИЦА»
			ol.modal-list
				li
					span «Влюбленные» и «Колесница» – карты «внутренней алхимии»
				li
					span Связь этих карт с другими арканами карт таро Тота
				li
					span Алхимия «Влюблённых»
				li
					span «Влюблённые» Марсельского таро и таро Райдера-Уэйта
				li
					span Алхимия «Колесницы»
				li
					span «Колесницы» Марсельского таро и таро Райдера-Уэйта
				li
					span Значение карт «Влюблённые» и «Колесница»
				li
					span Медитации на арканы карт таро
	.row
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 5 ЗАНЯТИЕ. 
				| ДИНАМИЧЕСКИЕ ПАРЫ В КОЛОДЕ ТАРО ТОТА «ИСПРАВЛЕНИЕ И ОТШЕЛЬНИК»
			ol.modal-list
				li
					span Символическое родство «Исправления» и «Отшельника». Самоуглублённость. Магическое целомудрие
				li
					span Что исправляет «Исправление»
				li
					span Революция «Исправления»
				li
					span «Справедливость» («Исправления») Марсельского таро и таро Райдера-Уэйта
				li
					span «Отшельник» внутри нас
				li
					span «Отшельник» Марсельского таро и таро Райдера-Уэйта
				li
					span Значение карт «Исправление» и «Отшельник»
				li
					span Медитации на арканы карт таро
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 6 ЗАНЯТИЕ. 
				| ДИНАМИЧЕСКИЕ ПАРЫ В КОЛОДЕ ТАРО ТОТА «ФОРТУНА И ВОЖДЕЛЕНИЕ»
			ol.modal-list
				li
					span Под колёсами фортуны
				li
					span «Колесо фортуны» Марсельского таро и таро Райдера-Уэйта
				li
					span Вожделение мудрости
				li
					span «Сила» Марсельского таро и таро Райдера-Уэйта
				li
					span Значение карт «Колесо фортуны» и «Вожделение»
				li
					span Медитации на арканы карт таро
	.row
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 7 ЗАНЯТИЕ. 
				| ДИНАМИЧЕСКИЕ ПАРЫ В КОЛОДЕ ТАРО ТОТА «ПОВЕШЕННЫЙ И СМЕРТЬ»
			ol.modal-list
				li
					span «Повешенный» и «Смерть». Водные трансформации
				li
					span «Повешенный» в Марсельском таро и таро Райдера-Уэйта
				li
					span Параллели. Знак алхимической серы и перевёрнутая пентаграмма
				li
					span Змеиное гнездо
				li
					span Корона Осириса
				li
					span Значение карт «Повешенный» и «Смерть»
				li
					span Медитации на арканы карт таро
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 8 ЗАНЯТИЕ. 
				| ДИНАМИЧЕСКИЕ ПАРЫ В КОЛОДЕ ТАРО ТОТА  «ИСКУССТВО И ДЬЯВОЛ»
			ol.modal-list
				li
					span Объединение противоположностей. Тайна зачатия и вызревания бессмертного зародыша
				li
					span «Умеренность» в Марсельском таро и «Искусство» в таро Райдера-Уэйта
				li
					span «Дьявол» в Марсельском таро, в таро Райдера-Уэйта и таро Тота
				li
					span Значение карт «Искусство» и «Дьявол»
				li
					span Медитации на арканы карт таро
	.row
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 9 ЗАНЯТИЕ. 
				| ДИНАМИЧЕСКИЕ ПАРЫ В КОЛОДЕ ТАРО ТОТА «БАШНЯ И ЗВЕЗДА»
			ol.modal-list
				li
					span Как изменить свою жизнь с помощью двух арканов таро
				li
					span «Башня»: подрыв сверху или снизу? «Башня» Марсельского таро и таро Райдера-Уэйта
				li
					span «Звезда» Марсельского таро и таро Райдера- Уэйта. Звёзды переменились
				li
					span Значение карт «Башня» и «Звезда»
				li
					span Медитации на арканы карт таро
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 10 ЗАНЯТИЕ. 
				| ДИНАМИЧЕСКИЕ ПАРЫ В КОЛОДЕ ТАРО ТОТА «ЛУНА И СОЛНЦЕ»
			ol.modal-list
				li
					span Как обрести совместимость
				li
					span Три ипостаси «Луны». «Луна» Марсельского таро и таро Райдера- Уэйта
				li
					span Солнце для всех. «Солнце» Марсельского таро и таро Райдера- Уэйта
				li
					span Значения карт «Луна» и «Солнце»
				li
					span Медитации на арканы карт таро
	.row
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 11 ЗАНЯТИЕ. 
				| ДИНАМИЧЕСКИЕ ПАРЫ В КОЛОДЕ ТАРО ТОТА «ЭОН И ВСЕЛЕННАЯ». Духовный переворот
			ol.modal-list
				li
					span Страшный суд отменяется?
				li
					span «Суд» Марсельского таро и таро Райдера- Уэйта. «Эон» таро Тота
				li
					span «Мир» или «Вселенная»?
				li
					span «Мир» Марсельского таро и таро Райдера-Уэйта. «Вселенная» таро Тота
				li
					span Значение карт «Эон» и «Вселенная»
				li
					span Медитации на арканы карт таро
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 12 ЗАНЯТИЕ. 
				| РИТУАЛ ОСВЯЩЕНИЯ ТАЛИСМАНА
			ol.modal-list
				li
					span Подготовка алтаря
				li
					span Очищение колоды таро
				li
					span Подготовка к магическим работам
				li
					span Ритуал срединного столпа
				li
					span Практика вибрации
				li
					span Освящение талисмана таро