.modal#Modal-2
	h3.modal-title Пакет МЕДИУМ
	.row
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 1 ЗАНЯТИЕ. 
				| РЫЦАРИ ТОТА. КОРОЛЕВЫ ТОТА
			ol.modal-list
				li
					span Застой или внутренняя трансформация
				li
					span Рыцарь жезлов
				li
					span Рыцарь чаш
				li
					span Рыцарь мечей
				li
					span Рыцарь дисков
				li
					span Лики матери и Лики любви
				li
					span Королева жезлов
				li
					span Королева чаш
				li
					span Королева мечей
				li
					span Королева дисков
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 2 ЗАНЯТИЕ. 
				| ПРИНЦЫ ТОТА. ПРИНЦЕССЫ ТОТА
			ol.modal-list
				li
					span От замысла – к реализации
				li
					span Принц жезлов
				li
					span Принц чаш
				li
					span Принц мечей
				li
					span Принц дисков
				li
					span Реализация Божественных компетенций
				li
					span Принцесса жезлов
				li
					span Принцесса чаш
				li
					span Принцесса мечей
				li
					span Принцесса дисков
	.row
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 3 ЗАНЯТИЕ. 
				| КАРТЫ ДВОРА КАК СИГНИФИКАТОРЫ
			ol.modal-list
				li
					span Принцип работы с придворными картами
				li
					span Как определить сигнификатор, исходя из базовых характеристик карт двора
				li
					span Индикатор типов личности Майерс-Бриггс (MBTI)
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 4 ЗАНЯТИЕ. 
				| ЧИСЛОВЫЕ КАРТЫ. ТУЗЫ КАК СУЩНОСТИ СТИХИИ. ДВОЙКИ. ИСТОРИЯ ЗАРОЖДЕНИЯ
			ol.modal-list
				li
					span Соответствия тузов
				li
					span Туз жезлов
				li
					span Туз чаш
				li
					span Туз мечей
				li
					span Туз дисков
				li
					span Медитации на четыре туза таро Тота
				li
					span Двойка жезлов. Власть
				li
					span Двойка чаш. Любовь
				li
					span Двойка мечей. Спокойствие
				li
					span Двойка дисков. Перемены
	.row
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 5 ЗАНЯТИЕ. 
				| ТРОЙКИ ТАРО ТОТА. ЗАЧАТИЕ ФОРМ. ЧЕТВЁРКИ ТАРО ТОТА. НАЧАЛО РЕАЛИЗАЦИИ ЗАМЫСЛА
			ol.modal-list
				li
					span Тройка жезлов. Достоинство
				li
					span Тройка чаш. Изобилие
				li
					span Тройка мечей. Скорбь
				li
					span Тройка дисков. Труд
				li
					span Четвёрка жезлов. Завершённость
				li
					span Четвёрка чаш. Роскошь
				li
					span Четвёрка мечей. Перемирие
				li
					span Четвёрка дисков. Мощь
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 6 ЗАНЯТИЕ. 
				| ПЯТЁРКИ ТАРО ТОТА. ТРУДНОСТИ ОДУХОТВОРЕНИЯ МАТЕРИИ. ШЕСТЁРКИ ТАРО ТОТА. АБСОЛЮТНАЯ ГАРМОНИЯ
			ol.modal-list
				li
					span Трудности проникновения духа в материю
				li
					span Пятёрка жезлов. Борьба
				li
					span Пятёрка чаш. Разочарование
				li
					span Пятёрка мечей. Поражение
				li
					span Пятёрка дисков. Тревога
				li
					span Совершенная гармония или передышка на пути воплощения?
				li
					span Шестёрка жезлов. Победа
				li
					span Шестёрка чаш. Удовольствие
				li
					span Шестёрка мечей. Наука
				li
					span Шестёрка дисков. Успех
	.row
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 7 ЗАНЯТИЕ. 
				| СЕМЁРКИ ТАРО ТОТА. ВОСЬМЁРКИ ТАРО ТОТА. ИГРЫ РАЗУМА
			ol.modal-list
				li
					span Эмоциональный надлом: как из него выбраться
				li
					span Семёрка жезлов. Доблесть
				li
					span Семёрка чаш. Разврат
				li
					span Семёрка мечей. Тщета
				li
					span Семёрка дисков. Неудача
				li
					span Восьмёрка жезлов. Быстрота
				li
					span Восьмёрка чаш. Увядание
				li
					span Восьмёрка мечей. Препятствие
				li
					span Восьмёрка дисков. Благоразумие
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 8 ЗАНЯТИЕ. 
				| ДЕВЯТКИ ТАРО ТОТА. ДЕСЯТКИ ТОТА. ПРИНЦИП ВЕЛИКОГО ПАРАДОКСА
			ol.modal-list
				li
					span За шаг до воплощения. За 1000 ли до Бога
				li
					span Девятка жезлов. Сила
				li
					span Девятка чаш. Счастье
				li
					span Девятка мечей. Жестокость
				li
					span Девятка дисков. Прибыль
				li
					span Десятка жезлов. Угнетение
				li
					span Десятка чаш. Пресыщение
				li
					span Десятка мечей. Разрушение
				li
					span Десятка дисков. Богатство
	.row
		.col-md-12.col-sm-12
			h4.modal-subtitle
				span 9 ЗАНЯТИЕ. 
				| ТАЛИСМАННЫЕ РАСКЛАДЫ НА КАРТАХ ТАРО
			ol.modal-list
				li
					span Создание талисманных раскладов как важная часть церемониальной магии
				li
					span Кастовый язык церемониальной магии
				li
					span Законы магической работы
				li
					span Талисманика в картах таро
				li
					span Виды и способы создания талисманных раскладов
				li
					span Сроки работы талисманов