.modal#Modal-3
	h3.modal-title Пакет ПРОФИ
	.row
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 1 ЗАНЯТИЕ. 
				| БАЗОВЫЕ РАСКЛАДЫ
			ol.modal-list
				li
					span Дуплеты
				li
					span Триплеты
				li
					span Расклад «Крест» и другие карточные расклады
				li
					span Расклад «Кельтский крест» и работа с ним
				li
					span Как правильно строить беседу с Кверентом
				li
					span Расклад на 10 карт «Кельтский крест»
				li
					span Расклад «АНКХ»
				li
					span Значение позиций
				li
					span Высший крест или круг
				li
					span Толкование значение карт
				li
					span Домашнее задание
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 2 ЗАНЯТИЕ. 
				| ПРАКТИКУМ. ДУПЛЕТЫ, ТРИПЛЕТЫ
			ol.modal-list
				li
					span Разбор домашнего задания
				li
					span Примеры толкования раскладов
				li
					span Групповая работа с раскладами
				li
					span Домашнее задание
	.row
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 3 ЗАНЯТИЕ. 
				| ПРАКТИКУМ «КРЕСТЫ»
			ol.modal-list
				li
					span Разбор домашнего задания
				li
					span Примеры толкования раскладов
				li
					span Групповая работа с раскладами
				li
					span Домашнее задание
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 4 ЗАНЯТИЕ. 
				| ПРАКТИКУМ «КЕЛЬТСКИЙ КРЕСТ»
			ol.modal-list
				li
					span Разбор домашнего задания
				li
					span Примеры толкования раскладов
				li
					span Групповая работа с раскладами
				li
					span Домашнее задание
	.row
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 5 ЗАНЯТИЕ. 
				| ПРАКТИКУМ «РАСКЛАД «АНКХ»
			ol.modal-list
				li
					span Разбор домашнего задания
				li
					span Примеры толкования раскладов
				li
					span Групповая работа с раскладами
				li
					span Домашнее задание
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 6 ЗАНЯТИЕ. 
				| БИОЭНЕРГЕТИКА
			ol.modal-list
				li
					span Виды энергии
				li
					span Энергетика человека. Кольца Инь и Янь
				li
					span Энергетическая схема человека. Прямой и обратный энергетический круг
				li
					span Способы работы в прямом и обратном круге
				li
					span Два энергетических круга в теле человека. Вертикальная лента Мёбиуса
				li
					span Практические занятия
	.row
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 7 ЗАНЯТИЕ. 
				| БИОЭНЕРГЕТИКА
			ol.modal-list
				li
					span Половая система человека как источник энергии
				li
					span Шестое чувство – интуиция или предчувствие
				li
					span Базовое состояние для видения или восприятия энергий
				li
					span Механизм видения
				li
					span Энергетические блоки
				li
					span Стихиальные параметры человека
				li
					span Практические занятия
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 8 ЗАНЯТИЕ. 
				| КОРРЕКЦИЯ РАСКЛАДОВ
			ol.modal-list
				li
					span Коррекция раскладов «За» и «Против»
				li
					span Оптимальное время коррекции
				li
					span Варианты коррекции
				li
					span О времени в таро
				li
					span Определение сроков в таро
				li
					span Методы магической настройки на человека
				li
					span Правила создания правильных мыслеформ для оказания воздействия
				li
					span Правила создание мандалы в каббалистической традиции
				li
					span Практическая работа по составлению мандал
	.row
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 9 ЗАНЯТИЕ. 
				|  РАСКЛАД «12 ДОМОВ»
			ol.modal-list
				li
					span Расклад «12 домов гороскопа»
				li
					span Особенности толкования расклада «12 домов гороскопа»
				li
					span Что может расклад таро «12 домов гороскопа»
				li
					span Создание коррекционного годового расклада на основе расклада «12 домов гороскопа»
		.col-md-6.col-sm-6
			h4.modal-subtitle
				span 10 ЗАНЯТИЕ. 
				| НОВОГОДНИЙ РИТУАЛ